::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  // background-color: rgba(20, 20, 20, 0.27);
  border-left: solid 4px transparent;

  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #5e5e5e;
  border-radius: 100px;
}

html,
body {
  @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

input:checked ~ .dot {
  transform: translateX(100%);
}

/* remove updown arrows from html number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: #f3f3f3;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #000;
  cursor: pointer;
  box-shadow: 0 0 2px 0 #555;
}

// .Toastify__toast - https://fkhadra.github.io/react-toastify/how-to-style/
.Toastify__toast {
  background-color: #f4f4f4 !important;
  border-radius: 10px !important;
  border: solid 1px #ddd !important;
  color: #000 !important;
  font-family: F37 Zagma Mono !important;
}
.Toastify__toast-body {
  padding: 15px !important;
  word-break: break-all !important;
}
