::-webkit-scrollbar {
  width: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  background-color: rgba(20, 20, 20, 0.1);
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #010101;
}

html,
body {
  @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

input:checked ~ .dot {
  transform: translateX(100%);
}

/* remove updown arrows from html number input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

// simple hover over menu (see currency input)
.nft-dropdown:hover .nft-dropdown-menu {
  display: block;
}
