.wrgToggle {
  margin-left: -8px;
  background: #f0f0f0;
  touch-action: pan-x;
  display: inline-block;
  position: relative;

  cursor: pointer;
  background-color: transparent;
  border: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: f0f0f0;
  -webkit-tap-highlight-color: transparent;
}

.wrgToggleInput {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.wrgToggleCheck,
.wrgToggleUncheck {
  position: absolute;
  top: 25px;
  margin-top: auto;
  margin-bottom: auto;
  line-height: 0;
  transition: color 0.25s ease;
}
.wrgToggleCheck {
  color: white;
  left: 43px;
  text-align: center;
}
.wrgToggleUncheck {
  color: #666666;
  right: 42px;
}

.wrgToggleUncheck span,
.wrgToggleCheck span {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  width: 10px;

  font-family: 'F37 Zagma Mono Trial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  /* or 22px */

  letter-spacing: -0.01em;
}

.wrgToggleContainer {
  width: 188px;
  height: 48px;
  padding: 0;
  border-radius: 48px;
  background-color: #f0f0f0;
  transition: all 0.2s ease;
}

.wrgToggleCircle {
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 90px;
  height: 40px;
  border-radius: 6px;
  background-color: black;
  box-sizing: border-box;
  border-radius: 48px;
  transition: all 0.25s ease;
}

.wrgToggleChecked .wrgToggleCheck {
  color: #666666;
}
.wrgToggleChecked .wrgToggleUncheck {
  color: white;
}
.wrgToggleChecked .wrgToggleCircle {
  left: 94px;
}
