@font-face {
  font-family: DM Sans;
  font-weight: normal;
  font-display: auto;
  src: url(/fonts/DMSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: DM Sans;
  font-weight: 500;
  font-display: auto;
  src: url(/fonts/DMSans-500.woff2) format('woff2');
}

@font-face {
  font-family: DM Sans;
  font-weight: 700;
  font-display: auto;
  src: url(/fonts/DMSans-700.woff2) format('woff2');
}

@font-face {
  font-family: Kollektif;
  font-weight: normal;
  font-display: auto;
  src: url(/fonts/Kollektif-Regular.woff) format('woff');
}

@font-face {
  font-family: Kollektif;
  font-weight: bold;
  font-display: auto;
  src: url(/fonts/Kollektif-Bold.woff) format('woff');
}

