@font-face {
  font-family: DM Sans;
  font-weight: normal;
  font-display: auto;
  src: url(/fonts/DMSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: PPNeueMachinaInktrap;
  font-weight: normal;
  font-display: auto;
  src: url(/fonts/PPNeueMachina-InktrapRegular.woff2) format('woff2');
}

@font-face {
  font-family: Monument-Bold;
  font-weight: bold;
  font-display: auto;
  src: url(/fonts/Monument-Bold.woff2) format('woff2');
}

@font-face {
  font-family: Supply-Mono;
  font-weight: normal;
  font-display: auto;
  src: url(/fonts/PPSupplyMono-Regular.woff2) format('woff2');
}

@font-face {
  font-family: Supply-Mono-Light;
  font-weight: normal;
  font-display: auto;
  src: url(/fonts/PPSupplyMono-Ultralight.woff2) format('woff2');
}
