.header {
  width: 100%;
  height: 86px;
}

.links {
  display: flex;
  font-weight: bold;
  align-items: center;
  gap: 6px;
}

.connectButton {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 60px;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  color: #333;
  box-shadow: 0px 6px 6px rgba(64, 71, 255, 0.15);
  border: 1px solid #eee;

  span {
    margin-top: -5px;
  }

  &:hover {
    background-color: #eee;
  }

  & svg {
    margin-right: 8px;
  }
}

.pageHeader {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  width: 100%;
  margin: 0 auto;
  padding: 10px 0;

  background-color: rgba(255, 255, 255, 0.7);

  backdrop-filter: blur(12px);
  z-index: 2;
}

.showSmallLogo {
  display: none;
}

.showLargeLogo {
  display: flex;
}

@media (min-width: 650px) and (max-width: 1000px) {
  .showSmallLogo {
    display: none;
  }

  .showLargeLogo {
    display: flex;
  }
}

@media (max-width: 650px) {
  .showSmallLogo {
    display: flex;
    max-height: 35px;
  }

  .showLargeLogo {
    display: none;
  }
}
