.wrapper {
  // match the Input theme settings
  border: 1px solid #aaa;
  border-radius: 6px;

  display: flex;
  // not sure why this is needed, but without it, it gets too wide
  // once we get rid of the Typeahead css, this will show
  width: 100%;

  .flatpicker {
    display: flex;
    border: none;
    padding: 0 10px;

    // remove when the Typeahead css is fixed
    background-color: transparent;
    :global(body.chakra-ui-dark) & {
      color: #eee;
    }

    text-align: right;
    &::placeholder {
      color: #ccc;
    }
  }
}
